<form id="user_form">

	<label for="user_username">Username</label><input type="text" name="user[username]" value="" id="user_username">

	<label for="user_password">Password</label><input type="text" name="user[password]" value="" id="user_password">

	<button id="signin"><h1> Sign In Now!</h1></button>
</form>