// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	height:100%;
	clear: both;
}

.hidden {
	display: none;
}

#sidebar {
	width: 20%;
	height : 100%;
	padding:0;
	border: 0;
	margin:0;
//	display: inline-block;
	float: left;
//	border: 1px dashed black;
//	overflow: hidden;
}
#content {
	float: right;
	margin:0 ;
	border: 0;
	padding: 0;
//	px dashed black;
	padding-left: 5%;
	width: 75%;
//	overflow: hidden;
}